node_modules/
!node_modules/vitest/
!node_modules/@vitest/
!node_modules/vite/
!node_modules/@esbuild/
!node_modules/esbuild/
!node_modules/tinypool/
!node_modules/tinybench/
!node_modules/tinyspy/
!node_modules/@vitest/utils/
!node_modules/@vitest/snapshot/
!node_modules/@vitest/expect/
!node_modules/@vitest/runner/
!node_modules/@vitest/spy/
!node_modules/chai/
!node_modules/local-pkg/
!node_modules/magic-string/
!node_modules/pathe/
!node_modules/picocolors/
!node_modules/std-env/
!node_modules/strip-literal/
!node_modules/tinyrainbow/
!node_modules/vite-node/
!node_modules/why-is-node-running/
!node_modules/assertion-error/
!node_modules/check-error/
!node_modules/deep-eql/
!node_modules/loupe/
!node_modules/pathval/
!node_modules/mlly/
!node_modules/pkg-types/
!node_modules/acorn/
!node_modules/rollup/
!node_modules/estree-walker/
!node_modules/@types/estree/
!node_modules/source-map-js/
!node_modules/@jridgewell/sourcemap-codec/
!node_modules/fsevents/
!node_modules/get-func-name/
!node_modules/confbox/
!node_modules/jiti/
!node_modules/parse-imports/
!node_modules/es-module-lexer/
!node_modules/slashes/
!node_modules/@rollup/rollup-win32-x64-msvc/
dist/
*.log
.DS_Store
.vscode/
.idea/
*.tsbuildinfo
coverage/
